{{input type="text" placeholder=placeholder value=inputValue}}
<div class="results">
{{#each searchResults as |result|}}
<div {{action "fillInput" result  on="click"}}>{{result}}</div>
{{/each}}
</div>
{{yield}}
