.game-library {
	background: #66380b;
	border: 3px solid black;
	width: 50px;
	height: 75px;
}
.card {
  background: #999;
  width: 100px;
  margin: 5px;
  padding: 5px;
  border: 3px solid #000;
  border-radius: 5px;
  display: inline;
}

.is-tapped {
  background: #992222;
	color: #ddd;
	border-color: #66380b;
}

.connected {
  min-width: 100px;
  min-height: 200px;
  background: #eee;
}
.hidden {
  display: none;
}

