<button class="btn btn-default" {{action "toggleLibrary"}}>Show Libraries</button>
{{game-zone cards=model.hand1}}
{{game-library player=1 cards=model.library1 click=(action 'libraryClicked' 1)}}

{{#if showLibrary}}
	{{game-zone cards=model.library1}}
{{/if}}

{{game-zone cards=model.battlefield1}}
{{game-zone cards=model.exile1}}
{{game-zone cards=model.scratchpad1}}

{{game-zone cards=model.hand2}}
{{game-library cards=model.library2 click=(action 'libraryClicked' 2)}}

{{#if showLibrary}}
	{{game-zone cards=model.library2}}
{{/if}}

{{game-zone cards=model.battlefield2}}
{{game-zone cards=model.exile2}}
{{game-zone cards=model.scratchpad2}}
