<h1>Matchup</h1>

<h2>Decklist 1</h2>

{{textarea class="deck1" focusOut=(mut decklist1) value=decklist1}}

<div class="decklist decklist1">
{{#each model.decklist1 as |card|}}
<div class="decklist-card" {{action "saveDeck" on="focusOut"}}>
{{input type="text" class="qty" placeholder="qty" value=card.qty }}
{{input-autofill inputValue=card.name }}
</div>
{{/each}}
<button class="btn btn-success" {{action "addCard" model.decklist1}}>Add Card</button>
</div>

<h2>Decklist 2</h2>


{{textarea class="deck2" focusOut=(mut decklist2) value=decklist2}}

<div class="decklist decklist2">
{{#each model.decklist2 as |card|}}
<div class="decklist-card">
{{input type="text" class="qty" placeholder="qty" value=card.qty}}
{{input-autofill inputValue=card.name}}
</div>
{{/each}}
<button class="btn btn-success" {{action "addCard" model.decklist2}}>Add Card</button>
</div>

{{#link-to "game" (query-params decklist1=decklist1 decklist2=decklist2) class="start-game"}}Start Game!{{/link-to}}

{{outlet}}
