{{outlet}}
<h1>Welcome!</h1>

<form {{action "register" on="submit"}}>
<p>
<label>First Name</label>
{{input type="text" value=firstName}}
</p>

<p>
<label>Last Name</label>
{{input type="text" value=lastName}}
</p>

<p>
<label>Email</label>
{{input type="text" value=email}}
</p>

<p>
<label>Password</label>
{{input type="password" value=password}}
</p>

<button type="submit">Let's do this</button>

</form>

